body {
  padding: 0;
  margin: 0;
  background-image: url("../images/background.jpg");
  background-color: rgba(5, 17, 242, 0.5);
  background-size: cover;
}

main {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.flex-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex-row-hidden {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.flex-col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-col-hidden {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.option-section {
  flex: 1;
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  background-color: whitesmoke;
}

.title-section {
  flex: 5;
  display: flex;
  justify-content: center;
}

.simulator-section {
  flex: 5;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  border-radius: 10px;
  align-items: stretch;
  justify-content: space-between;
  overflow-y: hidden;
  background-color: whitesmoke;
}

.search-section {
  flex: 1;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.results-section {
  flex: 5;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.charms-section {
  flex: 5;
  flex-direction: column;
  overflow-y: hidden;
  display: none;
}

.armor-section {
  flex: 5;
  flex-direction: column;
  overflow-y: hidden;
  display: none;
}

.title {
  display: inline;
  font-size: 54px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: whitesmoke;
  margin: auto;
}

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-text {
  flex: 1;
  padding: 5px 0px;
  font-size: 24px;
  margin: 0px;
  border-bottom: 2px solid black;
}

.subheader-text {
  flex: 1;
  padding: 4px 0px;
  font-size: 18px;
  margin: 0px;
  border-bottom: 1px solid black;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.search-button {
  flex: 2;
  margin: 6px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: lightgrey;
}
.search-button:hover {
  background-color: rgb(187, 187, 187);
}

.results {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.flex-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.armor-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.armor-piece {
  flex: 1;
  margin: 9px 0px;
  font-size: 18px;
}

.border-right-light {
  border-right: 1px solid lightgrey;
}
.border-right-dark {
  border-right: 1px solid black;
}

.detail-button {
  flex: 1;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  align-items: center;
}

.selected-skills {
  flex: 15;
  display: flex;
  flex-direction: column;
  margin: 2px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.options{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 6px;
}

.options-col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
}

.option-dropdown-text {
  text-indent: 4px;
}

.charms-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.charms {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  overflow-y: hidden;
}

.charms-port {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.charms-imported {
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  border-top: 1px solid black;
}

.charm-config-col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.charms-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.charm-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

textarea {
  flex: 5;
  box-sizing: border-box;
  resize: none;
  margin: 30px;
}

.armor-details {
  flex: 3;
  display: flex;
  flex-direction: row;
  border-right: 2px solid black;
  overflow-y: hidden;
}

.armor-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.scroll-col {
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
}

.set-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid lightgrey;
}
.set-skill-base {
  border-right: 1px solid lightgrey;
  padding: 10px 0px;
  margin: 0px 0px;
}

.set-armor {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}
.set-armor-base {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  padding: auto;
}

/* color1 #0511f2
   color2 #bf9004
*/
/* 
let newSet = {
  //"pieces": [],
  "skills": {},
  "totalSlots": [...baseDecos],
  //"emptySlots": [],
  "decoList": {},
  //"charmIndex": 0
} */