body {
  padding: 0;
  margin: 0;
}

main {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.header-section {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.option-section {
  flex: 1;
  border: 3px solid black;
  margin: 10px;
}

.title-section {
  flex: 5;
}

.simulator-section {
  flex: 5;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  align-items: stretch;
  justify-content: space-between;
  overflow-y: hidden;
}

.search-section {
  flex: 1;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.results-section {
  flex: 5;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.title {
  font-size: 54px;
}

.main-text {
  font-size: 18px;
}

.search-header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  justify-content: center;
}

.search-header-text {
  margin: 9px;
  font-size: 18px;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.search-button {
  flex: 2;
  margin: 4px;
  font-size: 20px;
}

.results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 7px;
}

.results-header-text {
  flex: 1;
  margin: 9px;
  font-size: 18px;
}

.results {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  border-top: 2px solid black;
}

.armor-set {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid grey;
}

.armor-piece {
  flex: 1;
  margin: 9px;
  font-size: 18px;
}

.selected-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  align-items: center;
}

.selected-skills {
  flex: 15;
  display: flex;
  flex-direction: column;
  margin: 2px;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.options{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px;
}

.option-dropdown-text {
  text-indent: 4px;
}
/* color1 #0511f2
   color2 #bf9004
*/