body {
  padding: 0;
  margin: 0;
}

main {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: hidden;
}

.left-col {
  flex: 1;
  background-color: #c0B283;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.right-col {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-y: hidden;
}

.self-pic {
  margin-top: 2vh;
  max-width: 95%;
  border-radius: 50%;
  border-color: #373737;
  padding: 3px;
  border-width: 3px;
  border-style: solid;
}

p {
  color: #373737;
}

a {
  color: #373737;
  text-decoration: none;
}

.text-padding {
  margin: 1vw;
}

.big-text-padding {
  margin: 10vw;
}

.categories {
  display: flex;
}

.spacer {
  flex: 1;
}

.alt-links {
  flex: 2;
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
}

.category {
  border: 1px solid #373737;
  padding: 5px;
  font-size: 18px;
}
.category:hover {
  background-color: #a7996a;
}

.header-section {
  display: flex;
  flex-direction: row;
}

.option-section {
  flex: 1;
  border: 3px solid black;
  margin: 10px;
}

.options {
  display: flex;
  flex-direction: column;
}

.title-section {
  flex: 5;
}

.title {
  font-size: 54px;
}

.title-sub {
  font-size: 20px;
}

.main-text {
  font-size: 18px;
}

.logo {
  margin: 4px;
  height: 32px;
}

.simulator {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  align-items: stretch;
  justify-content: space-between;
  overflow-y: hidden;
}

.search-section {
  flex: 1;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.search-header {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
  justify-content: center;
}

.search-header-text {
  margin: 9px;
  font-size: 18px;
}

.search-bar {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

.search-button {
  flex: 2;
  margin: 4px;
  font-size: 20px;
}

.results-section {
  flex: 5;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.results-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

.results-header-text {
  flex: 1;
  margin: 9px;
  font-size: 18px;
}

.results {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-y: scroll;
}

.result {
  flex: 1;
  font-size: 16px;
}

.results-col {
  flex: 1;
  margin: 9px;
}

.selected-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
  align-items: center;
}

.selected-skills {
  flex: 15;
  display: flex;
  flex-direction: column;
  margin: 2px;
  overflow-y: scroll;
}

/* color1 #0511f2
   color2 #bf9004
*/