body {
  padding: 0;
  margin: 0;
}

main {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-col {
  flex: 1;
  background-color: #c0B283;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.right-col {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-image: url("../images/intro.jpg");
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.self-pic {
  margin-top: 2vh;
  max-width: 95%;
  border-radius: 50%;
  border-color: #373737;
  padding: 3px;
  border-width: 3px;
  border-style: solid;
}

p {
  color: #373737;
}

a {
  color: #373737;
}

.text-padding {
  margin: 1vw;
}

.big-text-padding {
  margin: 10vw;
}

a:link {
  color:blue;
}

a:visited {
  color: blue;
}

.name {
  font-size: 3vh;
}

.main-text {
  font-size: 18px;
}

.logo {
  margin: 4px;
  height: 32px;
}
