body {
  padding: 0;
  margin: 0;
}

main {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.left-col {
  flex: 1;
  background-color: #c0B283;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.right-col {
  flex: 4;
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.self-pic {
  margin-top: 2vh;
  max-width: 95%;
  border-radius: 50%;
  border-color: #373737;
  padding: 3px;
  border-width: 3px;
  border-style: solid;
}

p {
  color: #373737;
}

a {
  color: #373737;
  text-decoration: none;
}

.text-padding {
  margin: 1vw;
}

.big-text-padding {
  margin: 10vw;
}

.categories {
  display: flex;
}

.spacer {
  flex: 1;
}

.alt-links {
  flex: 2;
  display: flex;
  flex-direction: column;
  /* flex-grow: 2; */
}

.category {
  border: 1px solid #373737;
  padding: 5px;
  font-size: 18px;
}
.category:hover {
  background-color: #a7996a;
}

.title {
  font-size: 36px;
}

.main-text {
  font-size: 18px;
}

.logo {
  margin: 4px;
  height: 32px;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project {
  border-top: 4px dotted #373737;
  display: flex;
  flex-direction: column;
}

.project-name {
  font-size: 24px;
}

.project-info {
  display: flex;
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
  border: 3px solid #373737;
  margin: 20px;
}

.details {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.detail-text {
  font-size: 18px;
  text-align: left;
}

.screenshot {
  max-width: 100%;
  height: auto;
}

.features {
  margin: 20px;
  display: flex;
}

.table {
  width: 80%;
  border: 1px solid black;
}

th, td {
  border: 1px solid black;
}

th {
  font-size: 20px;
}